<%= form_with(model: user, local: true) do |form| %>
<fieldset>
  <legend>Please specify user role</legend>
  <% @roles.each do |role| %>
    <div>
      <%= form.label role %>
      <%= form.radio_button :roles, role %>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
</fieldset>
<% end %>